@page "/members"
@using FirstApp.Models
@using FirstApp.IServices
@inject IMemberService MemberService


<h3>Members</h3>

<input @bind="newMember.FirstName" placeholder="First Name" />
<input @bind="newMember.LastName" placeholder="Last Name" />
<input @bind="newMember.Gender" placeholder="Gender" />
<input @bind="newMember.PhoneNumber" placeholder="Phone Number" />
<input @bind="newMember.Role" placeholder="Role" />
<button @onclick="AddMember">Add Member</button>


<ul>
    @foreach (var member in members)
    {
        <li>
            @member.FirstName @member.LastName - @member.Role
            <button @onclick="() => DeleteMember(member.Id)">Delete</button>
        </li>
    }
</ul>

@code {
    private List<Member> members = new();
    private Member newMember = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadMembers();
    }

    private async Task LoadMembers()
    {
        members = await MemberService.GetMembersAsync();
    }

    private async Task AddMember()
    {
        await MemberService.AddMemberAsync(newMember);
        newMember = new Member();
        await LoadMembers();
    }

    private async Task DeleteMember(int id)
    {
        await MemberService.DeleteMemberAsync(id);
        await LoadMembers();
    }
}
